<!-- <div class="main-container">
    <div>
        <h3>{{show.name}}</h3>

        <div [innerHTML]="show.summary">
        </div>
    </div>
</div>
 -->
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Image</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let show of shows" (click)="setSelectedShow(show)" [class.selected-show]="show === selectedShow">
            <td>{{show.name}}</td>
            <td [innerHTML]="show.summary"></td>
            <td> <img [src]="show.image.medium" /></td>
        </tr>
    </tbody>
</table>